{% extends "layout/layout_navbar.html" %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <div id="editor" hidden>
    </div>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript">
      var quill = new Quill('#editor', {
        toolbar: '',
        theme: 'bubble'
      });
    </script>
    <div class="row">
      <div class="col-md-12" style="margin-top: 30px">
        {% for post in posts %}
          <div class="card border-primary mb-3" style="position: relative;">
            {% if user.is_authenticated and user == post.author %}
              <a class="btn"
              style="position: absolute; top: 3px; right: 3px;"
              href="{% url 'edit_post' pk=post.pk %}">
                <i class="close">&#9997;</i>
              </a>
            {% endif %}
            <div class="card-header">Дата публикации: {{ post.published_date }}</div>
            <div class="card-body">
              <h2 class="card-title text-primary" name="title">{{ post.title }}</h2>
              <blockquote class="blockquote">
                <div id="{{ post.id }}"></div>
                <script type="text/javascript">
                  var tempCont = document.getElementById('editor').getElementsByClassName('ql-editor');
                  var str = '{{ post.text | safe | escapejs }}';
                  var content = JSON.parse(str);
                  quill.setContents(content);
                  var post_text_id = '{{ post.id }}';
                  document.getElementById(post_text_id).innerHTML = tempCont[0].outerHTML;
                </script>
                <footer class="blockquote-footer">Автор поста:
                  <cite title="Source Title">
                  <a href="{% url 'page_profile' pk=post.author.pk %}">
                       {{ post.author }}
                    </a>
                  </cite>
                </footer>
              </blockquote>
            </div>
          </div>
        {% endfor %}
        <div>
          <ul class="pagination">
            {% if posts.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="">&laquo;</a>
              </li>
            {% endif %}
            {% for page in my_page_range %}
              <li class="page-item {% if page == posts.number %} active {% endif %}">
               <a class="page-link" href="/index?page={{ page }}">{{ page }}</a>
              </li>
            {% endfor %}
            <li class="page-item">
              {% if posts.has_next %}
                <a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="">&raquo;</a>
                </li>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>
{% endblock %}
